/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        lpar_rpar: lpar_rpar {
            compatible = "zmk,behavior-mod-morph";
            label = "LPAR_RPAR";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        lbrckt_rbrckt: lbrckt_rbrckt {
            compatible = "zmk,behavior-mod-morph";
            label = "LBRCKT_RBRCKT";
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        lbrc_rbrc: lbrc_rbrc {
            compatible = "zmk,behavior-mod-morph";
            label = "LBRC_RBRC";
            bindings = <&kp LEFT_BRACE>, <&kp RIGHT_BRACE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        def {
            bindings = <
&kp ESC     &kp Q  &kp W       &kp E             &kp R           &kp T             &kp Y        &kp U      &kp I          &kp O     &kp P     &kp UNDER
&kp TAB     &kp A  &kp S       &kp D             &kp F           &kp G             &kp H        &kp J      &kp K          &kp L     &kp SEMI  &kp SQT
&lbrc_rbrc  &kp Z  &kp X       &kp C             &kp V           &kp B             &kp N        &kp M      &kp COMMA      &kp DOT   &kp FSLH  &lbrckt_rbrckt
                   &lpar_rpar  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &lt 1 LEFT_GUI    &lt 2 SPACE  &kp ENTER  &kp BACKSPACE  &kp RALT
            >;
        };

        numpad {
            bindings = <
&trans   &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans       &kp COLON  &kp EXCLAMATION  &kp AT         &kp HASH               &trans  &trans
&kp TAB  &trans  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp DOT      &trans     &kp DOLLAR       &kp PERCENT    &kp CARET              &trans  &trans
&trans   &trans  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp COMMA    &trans     &kp AMPERSAND    &kp STAR       &kp LEFT_PARENTHESIS   &trans  &trans
                 &kp NUMBER_0  &trans        &trans        &trans       &trans     &kp ENTER        &kp BACKSPACE  &kp RIGHT_PARENTHESIS
            >;
        };

        operators {
            bindings = <
&trans  &trans    &trans     &trans     &kp TILDE  &kp AMPERSAND    &kp PIPE         &kp BACKSLASH  &trans     &trans         &trans            &trans
&trans  &kp PLUS  &kp MINUS  &kp EQUAL  &kp STAR   &kp PERCENT      &kp EXCLAMATION  &kp SLASH      &kp CARET  &kp LESS_THAN  &kp GREATER_THAN  &trans
&trans  &trans    &trans     &trans     &trans     &trans           &trans           &trans         &trans     &trans         &trans            &trans
                  &trans     &trans     &trans     &trans           &trans           &trans         &trans     &trans
            >;
        };
    };
};
